/* Tahar CSS */

.divpad
{
    padding-bottom: : 30px;
}

.program
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}
.div_titre
{

    background-color:whitesmoke;
    text-align: center;
    font-weight: 300;
}

